/Bolt/.vs
/Bolt/Bolt.Core/obj
/Bolt/Bolt.Web/bin
/Bolt/Bolt.Services/bin
/Bolt/Bolt.Models/bin
/Bolt/Bolt.Core/bin
/Bolt/Bolt.DTOs/bin
/Bolt/Bolt.EntityFrameworkCore.Initializers/bin
/Bolt/Bolt.Data/bin
/Bolt/Bolt.Core.Data/bin
/Bolt/Bolt.Data/obj
/Bolt/Bolt.Core.Data/obj
/Bolt/Bolt/obj
/Bolt/Bolt.Web/obj
/Bolt/Bolt.Services/obj
/Bolt/Bolt.Models/obj
/Bolt/Bolt.DTOs/obj
/Bolt/Bolt.EntityFrameworkCore.Initializers/obj
.vs/slnx.sqlite-journal
.vs/slnx.sqlite
*.sqlite
