@using Bolt.Web.ViewModels.UserSettings
@model UserSettingsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit user details</h2>

<hr />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#about-me">About Me</a></li>
    <li><a data-toggle="tab" href="#orders">Orders</a></li>
</ul>

<div class="tab-content">
    <div id="about-me" class="tab-pane fade in active">
        <hr />
        @Html.Partial("_AboutMe", Model.User)
        <hr />
    </div>
    <div id="orders" class="tab-pane fade">
        <hr />
        @Html.Partial("_Orders", Model.Orders)
        <hr />
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
