@model OrderStatus

<div class="container mt-30">
    <h2>Order Tracking</h2>
    <div>Your order status is: <strong>@Model</strong></div>
</div>



@*<div>Your order status is: <strong>@Model</strong></div>*@

