<section class="home">
    <div class="home-slider home-slider-full-page">
        <div class="swiper-wrapper">
            <div class="swiper-slide home-slider-centered" id="logo-image" style="background-image: url('/template/img/slider/slide5.jpg');">
                <a asp-area="" asp-controller="Menu" asp-action="Index" class="btn btn-primary wow fadeInUp">browse <span class="ti-arrow-right light"></span></a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="home-slider-pagination"></div>
        <span class="ti-angle-left home-slider-prev"></span>
        <span class="ti-angle-right home-slider-next"></span>
    </div>
</section>
<section class="home-promo">
    <div class="home-promo-row">
        <div class="home-promo-row-half text-center pt-60 pb-60 light-bg wow fadeInLeft">
            <div class="width-100 section-introduction">
                <h2 class="text-center">Online<br> Ordering</h2>
                <p class="text-center inverse">
                    Welcome to the amazing Bolt Online ordering. What we offer is a speedy delivery to your door with the greatest amount of precision dedicated to preparation in each of our coffees.
                </p>
            </div>
        </div>
        <div class="home-promo-row-half">
            <div class=" home-promo-image-right wow fadeInRight" style="background-image: url('/template/img/promo/home-promo5.jpg');"></div>
        </div>
    </div>

    <div class="home-promo-row">
        <div class="home-promo-row-half">
            <div class=" home-promo-image-left wow fadeInLeft" style="background-image: url('/template/img/promo/home-promo6.jpg');"></div>
        </div>

        <div class="home-promo-row-half text-center pt-60 pb-60 pull-right light-bg wow fadeInRight">
            <div class="width-100 section-introduction">
                <h2 class="text-center">Menu<br> &<br> Ordering</h2>
                <p class="text-center inverse">
                    Bolt offers great tasting coffee and pastry at great prices. Take a look at our menu, we offer a variety of coffees!
                </p>
            </div>
        </div>
    </div>
    <div class="home-promo-row">
        <div class="home-promo-row-half text-center pt-60 pb-60 light-bg wow fadeInLeft">
            <div class="width-100 section-introduction">
                <h2 class="text-center">Opening<br> hours</h2>
                <p class="text-center inverse">
                    We are open 24/7. We will never let you go to sleep!
                </p>
            </div>
        </div>

        <div class="home-promo-row-half">
            <div class="home-promo-image-right wow fadeInRight" style="background-image: url('/template/img/promo/home-promo5.jpg');"></div>
        </div>
    </div>
</section>


@*<script>
    $(document).ready(function() {
        $('#logo-image').css('backgroundImage', "url('/template/img/slider/slide5.jpg')");
    });
</script>*@